.js1 {
  margin: 100px 0;
  .js11 {
    text-align: center;
    position: relative;
    cursor: pointer;
    &::after {
      border-bottom: 2px solid gray;
      content: "";
      padding: 0 0 8px;
      position: absolute;
      width: 48px;
      transform: translateX(50%);
      top: 70px;
      right: 46%;
      transition: all .5s;
    }
    &:hover {
      &::after {
        padding: 0 20px 8px;
        border-color: green;
        transition: all .5s ease-in-out;
      
      }
    }
  }
  .js12 {
    display: block;
    height: 48px;
    margin: 0 auto 15px;
    width: 48px;
  }
  .js13 {
    padding-bottom: 50px;
  }
}
