.js1 {
  margin: 100px 0;
}

//IMG
.js2 {
  margin: 50px 0;
  .js21 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .js22 {
    padding: 0 15px;
  }
  .js23 {
    font-size: 20px;
    font-weight: bold;
  }
  .js24 {
    padding: 0 10px;
    display: flex;
    align-items: center;
    font-size: 18px;
  }
  .js25 {
    padding: 10px 0;
    font-size: 18px;
  }
}

//Post Comment
.js3 {
  width: 90%;
  height: 100px;
}
.js4 {
    padding-top:  50px ;
    .js41 {
      background-color: blue;
      color: white;
      transition: all .5s;
      &:hover{
        background-color: white;
        color: blue;
        transition: all .5s;
      }
    }
  }
